
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    font-family: 'Bangers', cursive;
}


/*#region header and footer*/
header {
    background-color: antiquewhite;
    border: double;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
    border:double;
    margin: 5px;
    margin-bottom: 0px;
    width: auto;
}

footer {
    background-color: antiquewhite;
    border: double;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
    border: double;
    margin: 5px;
    width: auto;
}

#logo {
    float: right;
}

/*header h1, header p {
    margin: 12px 0 8px 100px;
    text-align: left;
}*/

/*#endregion */

/*#region nav bar*/

nav {
    margin: 0px 5px;
    border: double;
    background-color: antiquewhite;
    /*padding: 5px;*/

}

nav ul li {
    display: inline-block;
    margin: 0;
    border: double;
    text-align: center;
}

ul.blocklist a {
    color: darkgray;
    text-align: center;
    padding: .5em;
    display: block;
}


/*#endregion*/
.clear{
    clear:both;
}
 


.hamface{
    /*background-image:url(/Images/ham_face.jpg);*/
    /*background-repeat: no-repeat;
    background-size:90px;
    background-position:3%;
    margin-left:3px;
    padding: 1em;*/
}

/*.floatRight{
    float:right;
}*/

.headerImage{
    max-height: 90px;
    margin: .5em;
    float:left;
}

.contactinfo{
    background-position: center;
    margin:30px;
    padding: 10em;
    display:inline block;
}
.classes {
    margin: 5px;
    display: inline-block;
    width: 350px;
    text-align: center;
    border: double;
}
.classes:hover{
    border: 2px solid teal;
    background-color:aquamarine;

}



/*#region Images in Index*/

body {
    background: url(../Images/pigfarm.jfif) no-repeat center fixed;
    background-size: cover;
    margin: 0;
}

#about-image{
    width: 100%;
}

.about {
    background-color: lightcyan;
    margin: 15px 10% 5px 10%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    text-align: justify;
}

#image1 {
    float: left;
    margin: 5px;
    width: 30%;
}

.about-index-text {
    float: right;
    margin-right: 10px;
    width: 60%;
}

image-text-1 {
    float: right;
    width: 60%;
    padding-right: 10px;
}

image-text-2 {
    float: left;
    width: 60%;
    padding-right: 10px;
    margin: 200px;
}

#image2 {
    float: left;
    margin: 5px 20px 5px 5px;
    width: 30%;
}

#image3{
    float: right;
    margin: 5px 5px 5px 20px;
    width: 30%;
}
    /*#endregion*/

    /*#region Index.html*/

.one {
    background-color: lightcyan;
    margin: 15px 10% 0px 10%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    text-align: justify;
}
.two {
    background-color: lightcyan;
    margin: 0px 10% 5px 10%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    text-align: justify;
}
#choose {
    text-align: center;
    font-size: 3em;
    margin: 15px 10% 5px 10%;
}


    /*#endregion*/


#rightColumn {
    display:block;
    width: 20%;
    float: right;
    margin: 5px;
    border: 1px solid #ccc;
    /*border-right: none;*/
    background-color: lightcyan;
    padding: 10px;

}

    /*#region on left employees on leadership page*/
#leftColumn {
    margin: 5px;
    border: 1px solid #ccc;
    /*border-left: none;*/
    background-color: lightcyan;
    padding: 2%;
    width: 70%;
    float: left;
    display: block;
}

    /*#endregion*/

    /*#region Contact Page*/

    .contactus{
        font-size: 3em;
        text-align: center;
    }

    .contactinfo{
        width: 400px;
        margin: 5px 20px 20px 250px;
        text-align: center;
        background-color: lightcyan;
    }

    /*#endregion*/

