
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    font-family: 'Bangers', cursive;
}


/*#region header and footer*/
header {
    background-color: #C20C64;
    border: double;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #171203;
    font-size: 20px;
    border: double;
    margin: 5px;
    margin-bottom: 0px;
}

footer {
    background-color: #C20C64;
    border: double;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #171203;
    font-size: 20px;
    border: double;
    margin: 5px;
    /*width: auto;*/
}

#logo {
    float: right;
}

header h1, header p {
    margin: 12px 0 8px 120px;
    text-align: left;
}

/*#endregion */

/*#region nav bar*/

nav ul {
    margin: 0px 5px;
    border: double;
    background-color: #feb300;
    /*padding: 0;*/
}

nav ul li {
        display: inline-block;
        margin: 0;
        /*border: double;*/
        text-align: center;
        color: #171203;
}

nav ul li:hover {
        background-color: #ffaaab;
        
}

ul.blocklist a {
    color: black;
    text-align: center;
    padding: .5em;
    display: block;
    text-decoration: none;
}


/*#endregion*/
.clear{
    clear:both;
}

#headerImage {
    background-image:url(../Images/cropped_lotus.jpg);
    background-repeat: no-repeat;
    background-size:120px;
    margin:3px;
    padding: 1em;
}



/*.floatRight{
    float:right;
}*/

/*.headerImage{
    max-height: 150px;
    margin: .5em;
    float:left;
}*/

.contactinfo{
    background-position: center;
    margin:30px;
    padding: 10em;
    display:inline block;
}

/*#region Classes page */

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

.class-list-table {
    margin: auto;
    margin-bottom: 15px;
    width: 45%
}

td, th {
    padding: .3em;
}

th {
    background-color: #feb300;
}

.classroom-image{
    width:100%
}

.classes {
    margin: 5px;
    display: inline-block;
    width: 30%;
    text-align: center;
    border: double;
    vertical-align: top;
}

    .classes:hover {
        border: 2px solid #C20C64;
        background-color: #ffaaab;
    }

.row1 {
    margin:5%;
    display:inline-block;
    vertical-align: top;
}

.row2 {
    margin: 5%;
    display: inline-block;
    vertical-align: top;
}

/*#endregion */

/*#region Images in Index*/

body {
    background: #fff5d7;
}

#about-image{
    width: 100%;
}

.about {
    background-color: lightcyan;
    margin: 15px 10% 5px 10%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    text-align: justify;
}

#image1 {
    float: left;
    margin: 5px;
    width: 30%;
}

.about-index-text {
    float: right;
    margin-right: 10px;
    width: 60%;
}

image-text-1 {
    float: right;
    width: 60%;
    padding-right: 10px;
}

image-text-2 {
    float: left;
    width: 60%;
    padding-right: 10px;
    margin: 200px;
}

#image2 {
    float: left;
    margin: 5px 20px 5px 5px;
    width: 30%;
}

#image3{
    float: right;
    margin: 5px 5px 5px 20px;
    width: 30%;
}
    /*#endregion*/

    /*#region Index.html*/

.one {
    background-color: lightcyan;
    margin: 15px 10% 0px 10%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    text-align: justify;
}
.two {
    background-color: lightcyan;
    margin: 0px 10% 5px 10%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    text-align: justify;
}
#choose {
    text-align: center;
    font-size: 3em;
    margin: 15px 10% 5px 10%;
}


    /*#endregion*/

/*#region Team page - Leadership */

#rightColumn {
    display: block;
    width: 20%;
    float: right;
    margin: 5px;
    /*border: 1px solid #ccc;*/
    /*border-right: none;*/
    padding: 10px;
}

    /*#region on left employees on leadership page*/
#leftColumn {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    /*border-left: none;*/
    padding: 2%;
    width: 70%;
    float: left;
    display: block;
}

.leadership{
    display:block;
}

.leadership-images {
    width: 25%;
    float: left;
    height: 100%;
}

.leadership-images-text {
    margin-left:30%;
}

/*#endregion*/
/*#endregion */
/*#region Contact Page*/
.contactus {
    font-size: 3em;
    text-align: center;
}

    .contactinfo{
        width: 400px;
        margin: 5px 20px 20px 250px;
        text-align: center;
        background-color: lightcyan;
    }

    /*#endregion*/

